

body{
background-image:url("http://www.powerpointhintergrund.com/uploads/grunge-diamond-metal-background-1.jpeg");
padding:0px;
margin: 0px;
font-size:35px;
color: #FFFFFF;     
background-size: cover;
background-repeat: no-repeat;
}
h1{
font-size:55px;
color:orange;
text-decoration:underline;  
}
